body,html {
    font-family: 'MedievalSharp', serif;
    background-image: url('../images/menu_bg.png'); /* Ustaw tło dla całego ciała */
    background-size: cover; /* Dopasowanie obrazu do rozmiaru okna przeglądarki */
    background-position: center; /* Wyrównanie obrazu do środka */
    margin: 0; /* Usunięcie domyślnych marginesów */
    padding: 0; /* Usunięcie domyślnych paddingów */
    text-align: center; /* Wyrównanie tekstu do środka */
    height: 100vh; /* Wysokość 100% okna przeglądarki */
    color: white; /* Ustaw kolor tekstu na biały dla lepszej widoczności */
    overflow: hidden; /* Wyłączenie przewijania */
    box-sizing: border-box; /* Zapewnia poprawne obliczanie szerokości i wysokości */
}

.menu {
    margin-top: 5px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 50px; /* Padding dla estetyki */
    background-color: rgba(0, 0, 0, 0.35); /* Lekko przezroczysty czarny kolor tła dla menu */
    border-radius: 20px; /* Zaokrąglenie rogów */

    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie poziome zawartości */
}





#gameCanvas {
    border: 1px solid #000; /* Ramka wokół kanwy */
    margin-top: 20px; /* Odstęp nad kanwą */
}

/* Styl dla przycisku muzyki */
.music-button {
    position: absolute; /* Ustawienia pozycji */
    top: 20px; /* Odstęp od góry */
    right: 20px; /* Odstęp od prawej */
    background-color: rgba(0, 0, 0, 0.7); /* Tło przycisku */
    color: white; /* Kolor tekstu */
    border: none; /* Bez ramki */
    border-radius: 5px; /* Zaokrąglenie rogów przycisku */
    padding: 10px; /* Padding przycisku */
    cursor: pointer; /* Zmiana kursora na wskazujący */
    font-size: 20px; /* Ustaw rozmiar czcionki dla ikony */
}

.music-button i {
    pointer-events: none; /* Zapobiega interakcji z ikoną */
}



/* Stylizacja dla przycisków */
.custom-button {
    width: 300px; /* Szerokość przycisku */
    height: 100px; /* Wysokość przycisku */
    background: none; /* Usunięcie tła */
    border: none; /* Bez ramki */
    cursor: pointer; /* Wskaźnik kursora */
    display: flex; /* Flexbox do wyśrodkowania tekstu */
    align-items: center; /* Pionowe wyśrodkowanie */
    justify-content: center; /* Poziome wyśrodkowanie */
    font-size: 30px; /* Dopasowanie rozmiaru czcionki */
    font-weight: bold; /* Pogrubienie tekstu */
    color: white; /* Kolor tekstu */
    text-shadow: 1px 1px 2px black; /* Cień tekstu dla lepszej widoczności */

    margin: 10px auto; /* Wyśrodkowanie poziome */
    transition: transform 0.1s; /* Dodanie animacji na hover */
}

.custom-button:hover {
    transform: scale(1.05); /* Efekt powiększenia przy najechaniu */
    color: #ffa500; /* Zmiana koloru tekstu na pomarańczowy */
}
